.card {
  /* width: 90%; */
  background-color: #e76f51;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 20px;
}

.card--applied {
  background-color: #2a9d8f;
}

.h2 {
  font-weight: 600;
  padding: 0 10px;
  color: white;
  font-family: 'Cantarell', sans-serif;
}

.text {
  color: white;
  padding: 0 10px;
}
